
.offer-swiper {
  position: relative;
  padding-bottom: 50px;
  transition: all 0.3 ease; 
}


.offer-swiper .swiper-button-next,
.offer-swiper .swiper-button-prev {
  color: #0059ff ;
  height: 25px ;
  width: 25px ;
  background-color: #ffffff ;
  border-radius: 50% ;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12) ;
  display: flex ;
  align-items: center ;
  justify-content: center ;
}


.offer-swiper .swiper-button-next {
  bottom: 0 ;
  top: auto ;
  right: 10px ;
  transform: translateY(-63px); 

}

.offer-swiper .swiper-button-prev {
  bottom: 0 ;
  top: auto ;
  left: 10px ;
  transform: translateY(-63px); 
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: 13px ;
  height: 13px ;
  fill: #0078ff ;    
}


.dateswiper .swiper-button-next{
  color: #0066ff ;
  background: #fff;
  width: 32px ;
  height: 51.8px ;
  /* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15); */
  border: 1px solid #ccc;
  transform: translateY(-9px);
  right: -.1px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 30.8px;
  
}
.dateswiper .swiper-button-prev {
  color: #0066ff ;
  background: #fff;
  width: 32px ;
  height: 52.3px ;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  /* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15); */
  border: 1px solid #ccc;
  transform: translateY(-9px);
  left: -.2px;
  top: 30.8px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px ;
  font-weight: bold;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
  20%, 40%, 60%, 80% { transform: translateX(5px); }
}

.shake-effect {
  animation: shake 0.8s cubic-bezier(.36,.07,.19,.97) 0s 0.5; /* 10 iterations */
  background-color: red; /* optional to see effect clearly */
}




.offer-swiper1 {
  position: relative;
  padding-bottom: 50px;
  transition: all 0.3 ease; 
  background-color:#fff;
}


.offer-swiper1 .swiper-button-next,
.offer-swiper1 .swiper-button-prev {
  color: #0059ff ;
  height: 25px ;
  width: 25px ;
  background-color: #ffffff ;
  border-radius: 50% ;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12) ;
  display: flex ;
  align-items: center ;
  justify-content: center ;
}


.offer-swiper1 .swiper-button-next {
  bottom: 0 ;
  top: auto ;
  right: 10px ;
  transform: translateY(-50px); 

}

.offer-swiper1 .swiper-button-prev {
  bottom: 0 ;
  top: auto ;
  left: 10px ;
  transform: translateY(-50px); 
}