.offer-carousel-container {
  width: 95%;
  margin: 30px auto;
}

.offer-swiper1 {
  position: relative;
  padding-bottom: 40px; 
}

.offer-card {
  margin-top: 10px;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  height: 160px;
}
    

.offer-card img {
  width: 100%;
  border-radius: 16px;
  object-fit: cover;
}

/* Swiper arrows */
.swiper-button-prev,
.swiper-button-next {
  color: #001eff;
  height: 30px;
  width: 30px;
  position: absolute;   
  top: 50%;             
  transform: translateY(-35%); 
  z-index: 10;
  background-color: white;
  border-radius: 50%;
  
}



.swiper-pagination-bullet {
  background-color: #aaa !important;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
}

/* Responsive */
@media (max-width: 768px) {
  .offer-card img {
    border-radius: 10px;
  }
}
