.search-bar {
  display: flex;
  align-items: center;
  background: #f2f4f7;
  border-radius: 20px;
  border: 5px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  margin-top: 20px;
}

.input-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 12px 16px;
  border-right: 1px solid #e0e0e0;
  background-color: #f2f4f7;
  line-height:2cm;
  
}

.input-box:last-of-type {
  border-right: none;
}

.input-box label {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 4px;
  font-family: "Roboto";
  position: relative;
  bottom: 30px;
}

.input-box input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  color: #333;
}

.ant-picker {
  width: 100% !important;
  border-radius: 8px !important;
  border: 1px solid #ddd !important;
}

.ant-picker:hover {
  border-color: #1890ff !important;
}

.dateinput-box { 
  /* flex: 1; */
  padding: 10px 20px;
  border-right: 1px solid #e0e0e0;
  background-color: #f2f4f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 80px;
  cursor: pointer;
  position: relative;
}

.dateinput-box1 { 
  /* flex: 1; */
  padding: 10px 20px;
  border-right: 1px solid #e0e0e0;
  background-color: #f2f4f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 80px;
  cursor: pointer;
  position: relative;
  line-height: 2.7cm;
}

.label-row {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #6b7280;
  font-size: 13px;
  font-family: "Roboto";
}

.dropdown-icon {
  font-size: 10px;
  color: #2563eb;
}

.date-display {
  margin-top: 4px;
  display: flex;
  align-items: baseline;
  gap: 4px;
  cursor: pointer;
}

.date-display .big {
  font-size: 26px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
}

.date-display .month {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.hint {
  font-size: 13px;
  color: #888;
  margin-top: 2px;
}

.hidden-datepicker {
  position: absolute;
  opacity: 0;
  inset: 0;
  cursor: pointer;
}

.hidden-datepicker1 {
  position: relative;
  opacity: 0; 
   inset: 0;
  cursor: pointer;
  height: 10;
  width: 10;
  z-index: 10;

}

@media (max-width: 767px) {
  .search-card{
    margin-top: 100px;
  }
  .search-bar {
  margin-top: 500px;
}

}

