.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  transition: all 0.3s ease;
  box-shadow: none;
  z-index: 1000;
}



.navbar-scrolled {
  height: 80px; 
  box-shadow: 0 8px 24px rgba(0,0,0,0.12);
  padding: 0 30px;

}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ff6600;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.nav-links li {
  cursor: pointer;
  transition: color 0.2s;
}

.nav-links li:hover {
  color: #007bff;
}

.right-menu {
  display: flex;
  margin-right: 60px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 5;
  
}

/* Mobile */

.mob-navbar {
    position: fixed; 
    top: 0;          
    width: 100%;    
    
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    
    background-color: #fff;
    z-index: 1000;
    
    
    height: 60px; 
    padding: 0 25px; 
}



/* @media (max-width: 767px) {
  .navbar {
    flex-direction: column;
    height: 40px;
    padding: 8px;
    align-items: stretch;
    position: fixed;
  }

  .navbar-left{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 260px;
    left: 280px;

  }

  .navbar-middle {
    width: 100%;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 90px;
    bottom: 150px;
    flex-wrap: wrap;
    background-color: white;
    top: -5px;
    right: 10px;
  }
}

@media (max-width: 400px){
  .navbar-left{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 260px;
    left: 230px;
  }

}

@media (max-width: 420px){
  .navbar-left{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 260px;
    left: 250px;
  }

} */