.navbarSteps {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  transition: all 0.3s ease;
  box-shadow: none;
  z-index: 1000;
  font-family: 'Roboto';
}


.steps-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 40px 0; */
  gap: 5px;
  background: white;
  font-family: 'Roboto';
}

.step-item {
  display: flex;
  gap: 5px;
  align-items: center;
}

/* ---- TICK ---- */
.step-tick {
  color: #1677ff;
}

/* ---- CIRCLES ---- */
.step-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-style: solid;
}

.active-circle {
  border-color: #1677ff;
}

.inactive-circle {
  border-color: #909090; 
}

/* ---- NUMBERS ---- */
.step-number {
  font-size: 14px;
}

.active-text {
  color: #1677ff;
  font-weight: bold;
}

.inactive-text {
  color: #909090;
}

/* ---- TITLES ---- */
.step-title {
  font-size: 14px;
}

.title-active {
  color: #1677ff;
  font-weight: bold;
}

.title-inactive {
  color: #777;
}

.title-completed {
  color: #333;
}

/* ---- LINE ---- */
.step-line {
  width: 30px;
  height: 1px;
  background: #909090;
}

.otp-input{
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: large;
}

/* .profile {
  font-size: 15px;
  cursor: pointer;
  width: 200px;
  
}
.profile:hover{
  background: #f5f5f5;
  width: 200px;
}
.profile-item {
  
  padding: 15px;
}

.profile-item:hover{
  position: absolute;
  left: 10px;
  
}
 */










.menu-container {
  width: 260px;
  background: #fff;
  border-radius: 12px;
  padding: 10px 0;
  box-shadow: 0 4px 14px rgba(0,0,0,0.12);
  font-family: "Roboto" ;
}

.menu-item {
  display: flex;
  gap: 12px;
  padding: 12px 18px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.menu-item:hover {
  background: #f3f4f6;
  position: sticky;
  left: 100;
}

.menu-item .icon {
  font-size: 20px;
}

.menu-item .title {
  font-size: 15px;
  font-weight: 600;
}

.menu-item .subtitle {
  font-size: 13px;
  color: #6b7280;
}

.logout {
  border-top: 1px solid #eee;
  padding-top: 14px;
}
